/* likes on posts */
body:not(.show_likes_on_posts) .post_like {
  display: none;
}

/* likes on post page */
body:not(.show_likes_on_post_page) .fw_like_wrap {
  display: none;
}
/* hide lonely divider */
body:not(.show_likes_on_post_page) .fw_post_date .divide:last-child {
  display: none;
}

/* likes on post popup */
body:not(.show_likes_on_post_page) .wl_post_like_wrap {
  display: none;
}

/* likes on comments */
body:not(.show_likes_on_comments) .like_wrap {
  display: none;
}
/* hide lonely divider */
body:not(.show_likes_on_comments) .fw_reply_date .divide:last-child {
  display: none;
}

/* like on feedback item */
body:not(.show_likes_on_comments) .feedback_like_wrap {
  display: none;
}

/* likes on feedback page */
body:not(.show_likes_on_feedback_page) .feedback_grouped_row_wrap {
  display: none;
}

/* likes on photos */
body:not(.show_likes_on_photos) #pv_like_wrap {
  display: none;
}
/* hide lonely divider */
body:not(.show_likes_on_photos) #pv_wide > .divider {
  display: none;
}

/* likes on videos */
body:not(.show_likes_on_videos) #mv_like_wrap {
  display: none;
}
/* hide lonely divider */
body:not(.show_likes_on_videos) #mv_wide > .divider {
  display: none;
}
